header.intro-header(style="background-image:url('img/cover/#{img}')")
	.container
		.row
			.col-lg-8.col-lg-offset-2.col-md.10.col-md-offset-1
				.site-heading
					h1 All Posts
					hr.small
.container
	.row
		.col-lg-8.col-lg-offset-2.mol-md-10.col-md-offset-1
			for post, slug in public.blog.posts._data
				.post-preview
					a(href="posts/#{slug}")
						h2.post-title #{post.title}
						h3.post-subtitle #{post.subtitle}
					p.post-meta Written #{post.date}